@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #__next {
  height: 100%;
}

ul {
  list-style: disc !important;
}

ol {
  list-style: decimal !important;
}

h1 {
 margin: 16px 0 !important;
}