@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #__next {
  height: 100%;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
  background: #bbb; 
}

::-webkit-scrollbar-thumb:hover {
  background: #666; 
}

.input {
  @apply rounded input-bordered focus:outline-offset-1
}

.btn {
  @apply rounded
}